@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');


html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lexend Peta';
    font-weight: 700;
    font-size: 16px;
    overflow: hidden;
    background-color: rgb(250, 250, 250);
}


.main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: ease-in-out .3s;
}

div.loading {
    width: 100%;
    height: 100%;
    z-index: 100100;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.loading.hide {
    display: none;
}
.ring
{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
width:150px;
height:150px;
background:transparent;
border:3px solid #3c3c3c;
border-radius:50%;
text-align:center;
line-height:150px;
font-family:sans-serif;
font-size:20px;
color: rgb(250, 250, 250);
letter-spacing:4px;
text-transform:uppercase;
text-shadow:0 0 10px rgb(250, 250, 250);
box-shadow:0 0 20px rgba(0,0,0,.5);
}
.ring:before
{
content:'';
position:absolute;
top:-3px;
left:-3px;
width:100%;
height:100%;
border:3px solid transparent;
border-top:3px solid rgb(250, 250, 250);
border-right:3px solid rgb(250, 250, 250);
border-radius:50%;
animation:animateC 2s linear infinite;
}
.ring span
{
display:block;
position:absolute;
top:calc(50% - 2px);
left:50%;
width:50%;
height:4px;
background:transparent;
transform-origin:left;
animation:animate 2s linear infinite;
}
.ring span:before
{
content:'';
position:absolute;
width:16px;
height:16px;
border-radius:50%;
background: rgb(250, 250, 250);
top:-6px;
right:-8px;
box-shadow:0 0 20px  rgb(250, 250, 250);
}
@keyframes animateC
{
0%
{
    transform:rotate(0deg);
}
100%
{
    transform:rotate(360deg);
}
}
@keyframes animate
{
0%
{
    transform:rotate(45deg);
}
100%
{
    transform:rotate(405deg);
}
}

.menu {
    height: 100%;
    width: 15em;
    background-color: rgb(22, 32, 44);
    position: relative;
}

.menu .span-div {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgb(22, 32, 44);
    height: 2em;
    width: 2em;
    cursor: pointer;
    text-align: center;
    top: .5em;
    right: -2.5em;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 10;
    font-weight: 1000;
    font-size: 1.2em;
    border-radius: 1.5em;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.menu .span-div div {
    width: 100%;
    height: 100%;
    background-image: url('arrow.png');
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    /* font-family: 'Nanum Gothic';
    color: rgb(250, 250, 250);
    background-color: transparent;
    cursor: pointer;
    text-align: center;
    font-weight: 1000;
    font-size: .8em; */
}

.main.slid-over .menu .span-div div {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.alert-screen {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.alert-screen.show {
    display: flex;
}

.page {
    width: calc(100% - 21em);
    height: calc(100% - 6em);
    padding: 3em 3em;
    overflow-y: auto;
    overflow-x: hidden;
}

.menu .header {
    width: 100%;
    height: 5em;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu .header h1 {
    color: rgb(250, 250, 250);
    font-weight: 500;
    font-size: 2.5em;
    text-align: center;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.menu .header div.logo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu .header div.logo img {
    width: 65%;
    cursor: pointer;
}

.menu .stuff {
    display: flex;
    justify-content: space-between;
    align-items: space-around;
    width: 100%;
    height: calc(100% - 5em);
    flex-direction: column;
}

.menu .items {
    padding: 0 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    overflow-y: auto;
}

.menu .items button {
    width: 100%;
    background-color: transparent;
    color: rgb(250, 250, 250);
    font-family: 'Lexend Peta';
    font-size: 1em;
    border: none;
    height: 3em;
    text-align: left;
    padding: 0 0 0 1em;
    cursor: pointer;
    transition: ease-in-out .2s;
}

.menu .items button.selected {
    background-color: rgb(31, 55, 85);
}

.menu .items button:hover {
    background-color: rgb(16, 40, 70);
}

.signout-btn {
    color: rgb(250, 250, 250);
    border: none;
    background-color: transparent;
    margin-bottom: 1em;
    font-family: 'Lexend Peta';
    cursor: pointer;
    font-size: 1em;
}

.signout-btn:hover {
    color: rgb(222, 222, 222);
}




/* Dashboard */
.page.Dashboard {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 2em;
}

.page.Dashboard h1.name {
    color: rgb(10, 10, 10);
    margin: 0;
    font-size: 1.8em;
    font-weight: 400;
}

.page.Dashboard h6.college {
    margin: 0;
    font-weight: 400;
    font-size: .8em;
}

.page.Dashboard .stat-div {
    background-color: rgb(126, 173, 237);
    width: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    padding: .5em 0;
    height: 5em;
    cursor: default;
}

/* .page.Dashboard .stat-div:hover {
    width: 10.1em;
    height: 5.1em;
    margin-left: -.05em;
    margin-top: -.05em;
} */

.page.Dashboard .stat-div h3 {
    margin: 0;
    text-align: center;
    font-weight: 400;
    font-size: .8em;
}

.page.Dashboard .stat-div h1 {
    margin: 0;
    font-weight: 400;
}

.page.Dashboard .stat-container {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;
}

.page.Dashboard .past-matches {
    width: 25em;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 100%;
}

.page.Dashboard .past-matches h1 {
    color: rgb(10, 10, 10);
    font-size: .9em;
    font-weight: 600;
    margin: 0;
}

.page.Dashboard .past-matches div.inner {
    /* box-shadow: 0 0 20px rgba(0, 0, 0, .1); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 0 2em 0;
    gap: 1.5em;
    width: auto;
}

.page.Dashboard .past-matches div.inner>h2 {
    font-weight: 400;
    font-size: 1em;
    font-weight: 1em;
}

.page.Dashboard .past-matches div.inner>div {
    width: calc(100% - 1em);
    background-color: rgb(225, 225, 225);
    /* background: linear-gradient(135deg, #f6d365 0%, #fda085 100%); */
    /* background: linear-gradient(135deg, rgba(255,150,101,1) 0%, rgba(255,120,120,1) 100%); */
    padding: 1em;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .8em;
    max-width: calc(25em - 2em);
    height: 17em;
    transition: ease-in-out .2s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.page.Dashboard .past-matches div.inner>div div.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 1;
    transition: ease-in-out .3s;
}

.page.Dashboard .past-matches div.inner>div:hover div.cover {
    background-color: rgba(0, 0, 0, .2);
}

.page.Dashboard .past-matches div.inner>div h3 {
    color: rgb(250, 250, 250);
    font-size: 1.2em;
    transition: ease-in-out .2s;
    z-index: 2;
}

.page.Dashboard .past-matches div.inner>div.win {
    background-color: #9ddc93;
}

.page.Dashboard .past-matches div.inner>div.loss {
    background-color: #ff9898;
}

.page.Dashboard .past-matches div.inner .scores-div {
    background-color: rgb(220, 220, 220);
    padding: 1em;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    z-index: 2;
}

.page.Dashboard .past-matches div.inner .scores-div .score {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5em;
}

.page.Dashboard .past-matches div.inner .scores-div h4 {
    font-weight: 800;
    font-size: .8em;
    margin: 0;
}

.page.Dashboard .past-matches div.inner .scores-div .score h4 {
    font-weight: 400;
    font-size: .8em;
    margin: 0;
}

.page.Dashboard .past-matches div.inner .scores-div .score h2 {
    font-weight: 600;
    color: rgb(10, 10, 10);
    font-size: 1em;
    background-color: rgb(250, 250, 250);
    border-radius: 30px;
    padding: .5em 1em;
    margin: 0;
}

.page.Dashboard .past-matches div.inner button {
    font-family: 'Lexend Peta';
    font-size: 1em;
    color: rgb(250, 250, 250);
    background-color: rgb(126, 173, 237);
    padding: .5em 1em;
    border: 2px solid rgb(126, 173, 237);
    border-radius: 1em;
    cursor: pointer;
    transition: ease-in-out .2s;
}

.page.Dashboard .past-matches div.inner button:hover {
    color: rgb(126, 173, 237);
    background-color: rgb(250, 250, 250);
}


/* Account Info */
.page.Account-Info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}

.page.Account-Info .editable {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: .5em;
    width: 80%;
}

.page.Account-Info .editable h1{
    font-size: 1.2em;
    color: rgb(31, 55, 85);
    margin: 0;
}

.page.Account-Info .editable input {
    outline: none;
    border: 2px solid rgb(31, 55, 85);
    border-radius: 10px;
    font-size: 1.0em;
    padding: .5em;
    width: 30em;
    font-family: 'Lexend Peta';
    color: rgb(31, 55, 85);
}

.page.Account-Info .editable div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
}

.page.Account-Info .editable div button {
    background-color: rgb(222, 222, 222);
    border: 2px solid rgb(222, 222, 222);
    font-family: 'Lexend Peta';
    font-size: .8em;
    padding: .3em .7em;
    border-radius: 20px;
    cursor: pointer;
    transition: ease-in-out .2s;
}

.page.Account-Info .editable div button.connect {
    background-color: rgb(126, 173, 237);
    border: 2px solid rgb(126, 173, 237);
    color: rgb(250, 250, 250);
    transition: ease-in-out .2s;
}

.page.Account-Info .editable div button.connect:hover {
    background-color: rgb(250, 250, 250);
    color: rgb(126, 173, 237);
}

.page.Account-Info .editable div button.reset {
    background-color: rgb(224,71,76);
    border: 2px solid rgb(224,71,76);
    color: rgb(250, 250, 250);
}
.page.Account-Info .editable div button.reset:hover {
    background-color: rgb(250, 250, 250);
    border: 2px solid rgb(224,71,76);
    color: rgb(224,71,76);
}

.page.Account-Info .editable div button.save {
    background-color: rgb(126, 173, 237);
    border: 2px solid rgb(126, 173, 237);
    color: rgb(250, 250, 250);
}
.page.Account-Info .editable div button.save:hover {
    background-color: rgb(250, 250, 250);
    border: 2px solid rgb(126, 173, 237);
    color: rgb(126, 173, 237);
}



/* Tournaments */

.page.Tournaments {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1em;
    flex-direction: column;
    position: relative;
}

.page.Tournaments>h5 {
    width: 100%;
    text-align: left;
    margin: 0;
}

.page.Tournaments>h5 span {
    cursor: pointer;
}

.page.Tournaments>div {
    display: none;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.page.Tournaments>div.show {
    display: flex;
}

.page.Tournaments .List {
    width: 100%;
    gap: 1em;
    /* margin: 1em 0; */
    justify-content: flex-start;
    align-items: flex-start;
}

.page.Tournaments .List>h1 {
    color: rgb(10, 10, 10);
    margin: 0;
    font-size: 1.8em;
    font-weight: 400;
}

.page.Tournaments .tournament-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.page.Tournaments .tournament-container h1 {
    font-size: 1.5em;
    margin: 0;
    font-weight: 400;
}

.page.Tournaments .tournament-container .tournament {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: calc(100% - 2em);
}

.page.Tournaments .tournament-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 1em 0;
    gap: 1em;
}

.page.Tournaments .tournament-container>div {
    width: 100%;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 .5em rgba(0, 0, 0, .2);
    padding: 1em 1em;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: .5em;
}

.page.Tournaments .tournament-container>div h1 {
    font-size: 1.3em;
    font-weight: 400;
    margin: 0;
}

.page.Tournaments .tournament-container>div h2 {
    font-size: 1em;
    font-weight: 400;
    margin: 0;
}

.page.Tournaments .tournament-container>div h3 {
    font-size: 1em;
    font-weight: 400;
    margin: 0;
    text-decoration: underline;
    cursor: pointer;
}

.page.Tournaments .tournament-container>div h4 {
    font-size: .7em;
    font-weight: 600;
    margin: 0;
}

.page.Tournaments .date-div {
    border-radius: 2em;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgb(235, 235, 235);
    width: 20em;
    padding: 0;
    overflow: hidden;
    gap: 0;
    margin-left: 0;
    min-height: 2.2em;
}

.page.Tournaments .date-div div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.page.Tournaments .date-div div h1 {
    font-size: .7em;
    padding: 1em;
    color: rgb(122, 122, 122);
    margin: 0;
    cursor: pointer;
    text-align: center;
}

.page.Tournaments .date-div div.selected {
    background-color: rgb(31, 55, 85);
}

.page.Tournaments .date-div div.selected h1 {
    color: rgb(250, 250, 250);
}

.page.Tournaments .tools {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: .5em;
}

.page.Tournaments .tools button {
    background-color: rgb(126, 173, 237);
    border: 2px solid rgb(126, 173, 237);
    padding: .5em .8em;
    color: rgb(250, 250, 250);
    box-shadow: none;
    width: auto;
    font-family: 'Lexend Peta';
    border-radius: 1em;
    font-size: .7em;
    cursor: pointer;
    transition: ease-in-out .2s;
}

.page.Tournaments .tools button:hover {
    background-color: rgb(250, 250, 250);
    color: rgb(126, 173, 237);
}

.page.Tournaments .tools button.manage {
    background-color: rgb(31, 55, 85);
    border: 2px solid rgb(31, 55, 85);
}

.page.Tournaments .tools button.manage:hover {
    background-color: rgb(250, 250, 250);
    color: rgb(31, 55, 85);
}

.page.Tournaments .tools button.join {
    background-color: rgb(110, 193, 117);
    border: 2px solid rgb(110, 193, 117);
}

.page.Tournaments .tools button.join:hover {
    background-color: rgb(250, 250, 250);
    color: rgb(110, 193, 117);
}




/* View Tournament */

.page.Tournaments .t-view {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
}

.page.Tournaments>button.back {
    border: none;
    background-color: transparent;
    font-family: 'Lexend Peta';
    cursor: pointer;
    position: absolute;
    top: 3em;
    left: 3em;
    font-size: .8em;
    color: rgb(10, 10, 10);
    z-index: 10;
}

.page.Tournaments .t-view .header {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .3em;
}

.page.Tournaments .t-view .header>h1 {
    font-weight: 500;
    font-size: 1.5em;
    margin: 0;
    color: rgb(10, 10, 10);
}

.page.Tournaments .t-view .header>h2 {
    font-weight: 400;
    font-size: .9em;
    margin: 0;
    color: rgb(10, 10, 10);
}

.page.Tournaments .t-view .header>h2.big {
    font-weight: 600;
}

.page.Tournaments .t-view .sites {
    margin-top: 1em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .5em;
    flex-wrap: wrap;
}

.page.Tournaments .t-view .sites button {
    font-family: 'Lexend Peta';
    font-size: .8em;
    color: rgb(50, 50, 50);
    font-weight: 600;
    border: 2px solid rgb(250, 250, 250);
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 5px rgba(10, 10, 10, .2);
    cursor: pointer;
    padding: .4em .8em;
    border-radius: 15px;
    display: flex;
    transition: ease-in-out .2s;
}

.page.Tournaments .t-view .sites button:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0);
    border: 2px solid rgba(10, 10, 10, .3);
}

.page.Tournaments .t-view .sites button.selected {
    border: 2px solid rgb(10, 10, 10);
    box-shadow: none;
}

.page.Tournaments .t-view .main-view {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    width: 100%;
}

.page.Tournaments .t-view .main-view div.team {
    color: rgb(10, 10, 10);
    border: none;
    background-color: rgb(250, 250, 250);
    cursor: pointer;
    width: calc(100% - 2em);
    overflow: hidden;
    text-align: left;
    padding: 1em 1em;
    border: 2px solid rgb(250, 250, 250);
    box-shadow: 0 0 5px rgba(31, 55, 85, .3);
    border-radius: 1em;
    transition: ease-in-out .2s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: .5em;
}

.page.Tournaments .t-view .main-view div.team.to_drop {
    max-height: 1em;
}

/* .page.Tournaments .t-view .main-view div.team.dropped {
    max-height: 5em;
} */

.page.Tournaments .t-view .main-view div.team:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0);
    border: 2px solid rgba(10, 10, 10, .3);
}

.page.Tournaments .t-view .main-view div.team span {
    margin: 0;
    font-weight: 400;
    font-size: .9em;
}

.page.Tournaments .t-view .main-view div.team div.options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
    flex-wrap: wrap;
}

.page.Tournaments .t-view .main-view div.team button {
    font-family: 'Lexend Peta';
    font-size: .7em;
    color: rgb(250, 250, 250);
    font-weight: 600;
    cursor: pointer;
    text-align: left;
    padding: .5em .5em;
    background-color: rgb(126, 173, 237);
    border: 2px solid rgb(126, 173, 237);
    border-radius: 1em;
    transition: ease-in-out .2s;
}

.page.Tournaments .t-view .main-view div.team button:hover {
    background-color: rgb(250, 250, 250);
    color: rgb(126, 173, 237);
}

.page.Tournaments .t-view .main-view div.team button.cancel {
    background-color: rgb(224,71,76);
    border: 2px solid rgb(224,71,76);
}

.page.Tournaments .t-view .main-view div.team button.cancel:hover {
    color: rgb(224,71,76);
    background-color: rgb(250, 250, 250);
}

.page.Tournaments .t-view .main-view div.team button.accept {
    background-color: rgb(110, 193, 117);
    border: 2px solid rgb(110, 193, 117);
}

.page.Tournaments .t-view .main-view div.team button.accept:hover {
    color: rgb(110, 170, 117);
    background-color: rgb(250, 250, 250);
}

.page.Tournaments .t-view .main-view div.team button.drop {
    background-image: url('drop_down.png');
    background-size: cover;
    background-position: center;
    background-color: transparent;
    border: none;
    width: 1.5em;
    height: 1.5em;
    transition: ease-in-out .2s;
}

.page.Tournaments .t-view .main-view div.team.dropped button.drop {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

.page.Tournaments .t-view .main-view div.team .bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    opacity: 0;
    transition: ease-in-out .2s;
}

.page.Tournaments .t-view .main-view div.team.dropped .bottom {
    opacity: 1;
}

.page.Tournaments .t-view .main-view .tools {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.page.Tournaments .t-view .main-view .tools .create {
    background-color: rgb(126, 173, 237);
    border: 2px solid rgb(126, 173, 237);
    padding: .5em .5em;
    color: rgb(250, 250, 250);
    box-shadow: none;
    width: auto;
}

.page.Tournaments .t-view .main-view .tools .create:hover {
    background-color: rgb(250, 250, 250);
    color: rgb(126, 173, 237);
}





/* Manage Team*/




/* Sub Teams */

.page.Tournaments .t-view .main-view div.sub-team {
    color: rgb(10, 10, 10);
    border: none;
    background-color: rgb(250, 250, 250);
    cursor: pointer;
    width: calc(100% - 2em);
    text-align: left;
    padding: 1em 1em;
    border: 2px solid rgb(250, 250, 250);
    box-shadow: 0 0 5px rgba(31, 55, 85, .3);
    border-radius: 1em;
    transition: ease-in-out .2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: .8em;
}

.page.Tournaments .t-view .main-view div.sub-team.eligible {
    box-shadow: 0 0 15px rgb(110, 193, 117, 1);
}

.page.Tournaments .t-view .main-view div.sub-team h1 {
    margin: 0;
    font-weight: 400;
    font-size: 1.3em;
}

.page.Tournaments .t-view .main-view div.sub-team>div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.page.Tournaments .t-view .main-view div.sub-team>div>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 40%;
}

.page.Tournaments .t-view .main-view div.sub-team>div>div h2 {
    margin: 0;
    font-weight: 400;
    font-size: 1em;
}

.page.Tournaments .t-view .main-view div.sub-team button, .page.Tournaments .t-view .main-view .D2 button {
    margin: 0;
    font-size: .8em;
    font-family: 'Lexend Peta';
    border: 2px solid rgb(250, 250, 250);
    background-color: rgb(250, 250, 250);
    padding: .8em .8em;
    color: rgb(10, 10, 10);
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
    transition: ease-in-out .2s;
}

.page.Tournaments .t-view .main-view div.sub-team button:hover, .page.Tournaments .t-view .main-view .D2 button:hover {
    border: 2px solid rgb(10, 10, 10);
    box-shadow: none;
}

.page.Tournaments .t-view .main-view button.add, .page.Tournaments .t-view .main-view .D2 button {
    margin: 0 0 1.5rem 0;
    font-size: 1.1em;
    font-family: 'Lexend Peta';
    border: 2px solid rgb(126, 173, 237);
    background-color: rgb(126, 173, 237);
    padding: .3em 1.3em;
    color: rgb(250, 250, 250);
    box-shadow: none;
    border-radius: 10px;
    cursor: pointer;
    transition: ease-in-out .2s;
}

.page.Tournaments .t-view .main-view button.add:hover, .page.Tournaments .t-view .main-view .D2 button:hover {
    background-color: rgb(250, 250, 250);
    color: rgb(126, 173, 237);
}

.page.Tournaments .t-view .main-view div.sub-team button.delete, .page.Tournaments .t-view .main-view .D2 button {
    border: 2px solid rgb(126, 173, 237);
    background-color: rgb(126, 173, 237);
    color: rgb(250, 250, 250);
    box-shadow: none;
}

.page.Tournaments .t-view .main-view div.sub-team button.delete:hover, .page.Tournaments .t-view .main-view .D2 button:hover {
    border: 2px solid rgb(224,71,76);
    background-color: rgb(224,71,76);
    color: rgb(250, 250, 250);
    box-shadow: none;
}

.page.Tournaments .t-view .main-view div.sub-team .tools {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}

.page.Tournaments .t-view .main-view div.sub-team button.delete.team {
    border: 2px solid rgb(224,71,76);
    background-color: rgb(224,71,76);
    color: rgb(250, 250, 250);
    padding: .3em .8em;
    width: 7em;
    box-shadow: none;
    margin-top: 0em;
}

.page.Tournaments .t-view .main-view div.sub-team button.delete.team:hover {
    background-color: rgb(250, 250, 250);
    color: rgb(224, 71, 76);
    box-shadow: none;
}

.page.Tournaments .t-view .main-view div.sub-team button.autofill.team {
    border: 2px solid rgb(150, 150, 150);
    background-color: rgb(150, 150, 150);
    color: rgb(250, 250, 250);
    padding: .3em .8em;
    width: 7em;
    box-shadow: none;
    margin-top: 0;
}

.page.Tournaments .t-view .main-view div.sub-team button.autofill.team:hover {
    background-color: rgb(250, 250, 250);
    color: rgb(224, 71, 76);
    box-shadow: none;
}




/* D2 */

.page.Tournaments .t-view .main-view .D2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    gap: 1em;
    width: 100%;
    padding: 0 0 2em 0;
}

.page.Tournaments .t-view .main-view .D2 .event {
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    gap: 1em;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    border-radius: 1em;
    width: calc(100% - 4em);
}

.page.Tournaments .t-view .main-view .D2 h1 {
    margin: 0;
    font-weight: 400;
    font-size: 1.3em;
    color: rgb(10, 10, 10);
    text-align: center;
}

.page.Tournaments .t-view .main-view .D2 h2 {
    margin: 0;
    font-weight: 400;
    font-size: .8em;
    color: rgb(10, 10, 10);
    text-align: center;
}

.page.Tournaments .t-view .main-view .D2 .event .players {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}

.page.Tournaments .t-view .main-view .D2 .event button {
    font-size: .8em;
    margin: 0;
    padding: .8em;
    width: auto;
}

.page.Tournaments .t-view .main-view .D2 .event button.add-player {
    width: 3em;
    height: 2em;
    background-color: rgb(110, 170, 117);
    border: 2px solid rgb(110, 170, 117);
    color: rgb(250, 250, 250);
    margin: auto;
    padding: 0;
}

.page.Tournaments .t-view .main-view .D2 .event button.add-player:hover {
    background-color: rgb(250, 250, 250);
    color: rgb(110, 170, 117);
}




/* Register */
.alert-screen .register {
    display: none;
    min-width: 200px;
    background-color: rgb(250, 250, 250);
    border-radius: 1em;
    padding: 3em 1em 2em 1em;
    position: relative;
}

.alert-screen .register.show {
    display: block;
}

.alert-screen .back-btn {
    border: none;
    background-color: transparent;
    font-family: 'Lexend Peta';
    cursor: pointer;
    position: absolute;
    top: 1em;
    left: 1em;
    font-size: .8em;
    color: rgb(10, 10, 10);
}

.alert-screen .x-btn {
    border: none;
    background-color: transparent;
    font-family: 'Lexend Peta';
    cursor: pointer;
    position: absolute;
    top: 1em;
    right: 1em;
    font-size: .8em;
    font-weight: 800;
    color: rgb(10, 10, 10);
}

.alert-screen .x-btn:hover {
    color: rgb(100, 100, 100);
}

.alert-screen .register>div {
    width: 100%;
    /* height: 300px; */
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.alert-screen .register>div.selected {
    display: flex;
}

.alert-screen .register>div h5 {
    margin: 0;
}

.alert-screen .register>div button {
    background-color: rgb(126, 173, 237);
    border: 2px solid rgb(126, 173, 237);
    padding: .5em .8em;
    color: rgb(250, 250, 250);
    box-shadow: none;
    width: auto;
    font-family: 'Lexend Peta';
    border-radius: 1em;
    font-size: .8em;
    cursor: pointer;
}

.alert-screen .register>div button:hover {
    background-color: rgb(250, 250, 250);
    color: rgb(126, 173, 237);
}

.alert-screen .register>div input {
    outline: none;
    font-family: 'Lexend Peta';
    font-size: .8em;
    padding: .5em;
    border: 2px solid rgba(10, 10, 10, .5);
    border-radius: 1em;
}




/* Add Player */

.alert-screen h1 {
    margin: 0;
    font-size: 1em;
    width: 10em;
    font-weight: 400;
    text-align: center;
}

.alert-screen .add-player {
    display: none;
    min-width: 200px;
    background-color: rgb(250, 250, 250);
    border-radius: 1em;
    padding: 2.5em 1em 2em 1em;
    position: relative;
}

.alert-screen .add-player.show {
    display: block;
}

.alert-screen .add-player .players {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: .5em;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: .5em .5em;
}

.alert-screen .add-player button.player {
    margin: 0;
    font-size: .8em;
    font-weight: 400;
    font-family: 'Lexend Peta';
    border: 2px solid rgb(250, 250, 250);
    background-color: rgb(250, 250, 250);
    padding: .3em .8em;
    color: rgb(10, 10, 10);
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    border-radius: 10px;
    width: 15em;
    cursor: pointer;
    transition: ease-in-out .2s;
}

.alert-screen .add-player button.player:hover {
    border: 2px solid rgb(10, 10, 10);
    box-shadow: none;
}




/* Matches */

.page.Matches {
    width: calc(100% - 15em);
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
}


.page.Matches iframe {
    width: 100%;
    height: 100%;
    border: none;
}







@media screen and (max-width: 1000px) {
    .menu .span-div {
        display: flex;
    }

    .main {
        width: calc(100% + 15em);
    }

    .main.slid-over {
        margin-left: -15em;
    }

    .page.Account-Info .editable input {
        width: calc(100% - 1em);
    }

    /* .page.Dashboard .stat-container {
        width: auto;
        justify-content: center;
    } */
}

@media screen and (max-width: 800px) {

    .main, .alert-screen {
        font-size: .8em;
    }

}

@media screen and (max-width: 600px) {

    .main, .alert-screen {
        font-size: .6em;
    }

}









